@font-face{
  font-family: "Yekan";
  src: url('./fonts/Yekan.woff')
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body{
  background-color: #eee;
  font-family: "Yekan";
}
